<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div id="root">

    <h2>All Tasks</h2>

    <ul>
        <li v-for="task in tasks" v-text='task.description'></li>
    </ul>

    <h2>Incomplete Tasks</h2>


    <ul>
        <li v-for="task in incompleteTasks" v-text='task.description'></li>
    </ul>

</div>

<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>

<script>


    var app = new Vue({

        el: '#root',

        data:{
            tasks:[
                { description: 'Go to the store', completed: true},
                { description: 'Finish screencast', completed: false},
                { description: 'Make donation', completed: false},
                { description: 'Clear inbox', completed: false},
                { description: 'Make dinner', completed: false},
                { description: 'Clean room', completed: true}
            ],
            incompleteTasksTmp : []
        },

        methods:{

        },

        computed:{

            incompleteTasks(){

                this.incompleteTasksTmp = [];

                for (task of this.tasks)
                {
                    if (!task.completed)
                        this.incompleteTasksTmp.push(task);
                }

                return this.incompleteTasksTmp;

                // return this.tasks.filter(task => ! task.completed); //tasksTmp;
            }
        }
    })

</script>

</body>
</html>